<nav>
    <div id="title"><a routerLink="/home"><strong>Kongsberg<br>e-Academy</strong></a></div>
    <div class="nav-btn"><a routerLink="/home" routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">Home</a></div>
    <div class="nav-btn"><a routerLink="/my-courses" routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">My Courses</a></div>
    <div class="search-cont">
      <div id="search-bar">
        <label for="search">Explore Courses:&nbsp;</label>
        <input type="text" id="search">
      </div>
    </div>  
  </nav>
